// Import the correct set of variables - dark by default but applications can decide by overwriting
// the variable to be 'light'
@import 'moonstone-variables-@{moon-theme}.less';

// Video Player
// ---------------------------------------
@moon-video-player-transport-slider-knob-size:     48px;
@moon-video-player-transport-slider-height:        12px;
@moon-video-player-transport-slider-tap-area:      84px;
@moon-video-player-title-text-shadow:              0px 2px 2px rgba(0, 0, 0, 0.75);
