/* --- Fullscreen Video UI --- */
.moon-video-player-fullscreen {
	box-sizing: border-box;
	background-color: @moon-video-player-fullscreen-bg-color;
	transition: background-color 0.1s linear;
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;

	&.scrim {
		box-sizing: border-box;
		background-color: fadeout(@moon-video-player-fullscreen-bg-color, 85%);
	}

	// --- Fullscreen Player Controls ---
	.moon-video-player-bottom {
		position: absolute;
		bottom: 30px;
		left: @moon-video-player-side-padding;
		right: @moon-video-player-side-padding;
		background-color: @moon-video-player-bottom-bg-color;
	}

	.moon-video-player-controls-frame {
		position: relative;

		&,
		.moon-video-player-controls-container,
		.moon-video-player-controls-frame-center {
			height: @moon-icon-button-size;
		}

		.moon-video-player-more-controls {
			text-align: center;

			.enyo-locale-right-to-left & {
				direction: rtl;
			}

			> * {
				vertical-align: middle;
			}
		}
	}

	.moon-video-player-controls-frame-center {
		// Staticlly allocate space for the premium buttons so the center buttons can always remain centered
		margin: 0 (@moon-icon-button-size * 2 + @moon-spotlight-outset * 3);
		position: relative;  // 'relative' provides a properly sized frame for light-panels to cling to.
	}

	.moon-video-player-control-buttons {
		white-space: nowrap;
		text-align: center;
		direction: ltr;

		.moon-icon-button {
			margin: 0 18px;
		}
	}

	.moon-video-player-more-button {
		.margin-start-end(@moon-grid-gutter-width, 0);

		.enyo-locale-right-to-left & {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}
}

.moon-video-player-premium-placeholder-left,
.moon-video-player-premium-placeholder-right {
	> * {
		display: inline-block;
	}
}
.moon-video-player-premium-placeholder-left {
	float: left;

	.enyo-locale-right-to-left & {
		float: right;
	}
}
.moon-video-player-premium-placeholder-right {
	float: right;

	.enyo-locale-right-to-left & {
		float: left;
	}
}
